POSTGRES_USER=user
POSTGRES_PASSWORD=password 
POSTGRES_DB=database_name
DATABASE_CONNECTION_STRING=postgresql://user:password@localhost:5433/database_name
USER_PASSWORD=password

JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key